.h3{
    font-size: 1.2rem;
}
.h7{
    font-size: 1.2em;
    font-weight:700;
}
#h4{
    font-size: 0.4rem;
}
.login {
	width: 400px;
	margin: auto;
	position: absolute;
    top: 100px;
}
.logo {
    width:100%;
    padding-bottom: 30px;
}
.btn-primary {
    background-color: #f36;
    border-color: #f36;
    margin: 30px;
    width:30%;
}

.form-control:focus{
    border-color:#f36;
    box-shadow:0px 0px 0px 0.2rem rgba(255,51,102,0.25);
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow:0px 0px 0px 0.2rem rgba(255,51,102,0.25);
}
.btn-primary:hover {
    background-color: #f36;
    border-color: #f36;
}

.container{
    width:100%;
}

.btn-menu {
    color: #fff;
    background-color: rgb(17, 17, 17);
    border-color: rgb(17, 17, 17);
    width: 100%;
    margin: 0%;
    font-size:1.4em;
    text-align: left;
    padding-left:10%;
    padding-top:2%;

}

.btn-menu:hover {
    color: #f36;
}


.notification{
    text-align: center;
    background-color: #f36;
    width:100%;
    margin: 0px;
    padding: 0px;
    height:100%;
    color:#fff !important;
    font-size: 1em !important;
}


.container-fluid{
    padding-right:0px;
    padding-left:0px;
}
.gravatar{
    border-radius: 50%;
    width: 50%;
    border:5px solid #f36;
}
.profile-container{
    width:100%;
    text-align:center;
    font-size:1.2em;
    position:absolute;
    bottom:20%;
}

.main-panel{
    padding-left:20px;
    margin: 10px;
}

.stat-box{
    border:1px solid #f36;
    margin:20px;
    padding:10px;
    font-size:0.6em !important;
}

.quick-stats{
    border:1px solid #f36;
    margin:10px;
    padding:10px;
    height:400px;
    width:20%;
    font-size:1.2em !important;
    box-shadow: 0 .5rem 1rem rgba(255, 51, 102,.45)!important;
    border-radius: .25rem!important;
}


.social-stats {
    border:1px solid #f36;
    margin:20px;
    padding:10px;
    width:20%;
    font-size:1.2em !important;
}

.bio{
    margin:30px;
}


.languageTile{
    border:1px solid #f36;
    margin:10px;
    padding:10px;
    height:450px;
    width:35%;
    font-size:1.2em !important;
    box-shadow: 0 .5rem 1rem rgba(255, 51, 102,.45)!important;
    border-radius: .25rem!important;
}

.pie-container{
    text-align: center;
 
}
.section:hover {
    transform: scale(1.04);
  }
.section {
    transition: all 1s;

  }

  .svg{
      overflow:visible;
  }

  .legend{
      z-index:1000;
      position:absolute;
      font-size:14px;
  }

  .languageGraph{
      overflow:visible;
  }
